<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="about.css">

</head>
<body>
    <div class="container">
        <!-- <img src="/book.png" alt="book" width="50" height="50"> -->
        <h1 style="text-align:center;"> Quizify</h1>
        <img src="/e3.png" alt="education" width="120" height="80" style="text-align:left";> 
        <img src="/toga.png" alt="toga" width="120" height="80" style="text-align:right";> 
        <!-- <img src="/book.png" alt="book" width="50" height="50"> -->
        <div id="about">
        <h3 style="text-align:center;">Welcome to Quizify platform</h3>
        <p style="text-align:center;"   clsss="text"> You can go-to the platform for quizzes and study materials!</p>
        <p style="text-align:center;" clsss="text">Quizify is designed to provide an engaging and educational experience for users! </p>
        <p style="text-align:center;"clsss="text"> Whether you're looking to test your knowledge with quizzes or access study materials for various subjects, Quizify has you covered</p>
        <!-- Add more content about Quizify as needed -->
    </div>
    
    
         <img src="/alarm-clock.png" alt="alarm-clockclocl" width="120" height="120">  
        <!-- <img src="/toga.png" alt="toga" width="120" height="80">  -->
    </div>
    
</body>
</html>