
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mainpage.css">
    <link rel="stylesheet" href="/layoutAdmin.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/PYQ.css">
    <title>Study Materials</title>
</head>
<body>
    <div class="container" style= "text-align:center";>
        <h1>Study Materials</h1>

        <div class="subject-materials">
            <h2>Mathematics</h2>
            <ul>
                <li>
                    <h3>Year 2022</h3>
                    <p>Math PYQ`s: <a href="/pyqPdf/JEE-Main-2023-24-January-Shift-1.pdf" target="_blank">Math PYQ`s 2022</a></p>
                </li>
                <li>
                    <h3>Year 2021</h3>
                    <p>Math PYQ`s: <a href="/pyqPdf/JEE-Main-2023-24-January-Shift-1.pdf" target="_blank">Math PYQ`s 2021</a></p>
                </li>
                
            </ul>
        </div>

        <div class="subject-materials">
            <h2>Physics</h2>
            <ul>
                <li>
                    <h3>Year 2022</h3>
                    <p>Physics PYQ`s: <a href="/pyqPdf/JEE-Main-2023-24-January-Shift-1.pdf" target="_blank">Physics PYQ`s 2022</a></p>
                </li>
                <li>
                    <h3>Year 2021</h3>
                    <p>Physics PYQ`s: <a href="/pyqPdf/JEE-Main-2023-24-January-Shift-1.pdf" target="_blank">Physics PYQ`s 2021</a></p>
                </li>
                
            </ul>
        </div>

        <div class="subject-materials">
            <h2>Chemistry</h2>
            <ul>
                <li>
                    <h3>Year 2022</h3>
                    <p>Chemistry PYQ`s: <a href="/pyqPdf/JEE-Main-2023-24-January-Shift-1.pdf" target="_blank">Chemistry PYQ`s 2022</a></p>
                </li>
                <li>
                    <h3>Year 2021</h3>
                    <p>Chemistry PYQ`s: <a href="/pyqPdf/JEE-Main-2023-24-January-Shift-1.pdf" target="_blank">Chemistry PYQ`s 2021</a></p>
                </li>
                
            </ul>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
