<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/userQuizPage.css">
    <title>Instructions</title>
</head>

<body>
    <h2>Instructions:</h2>
    <ul class="quiz-box">
        <li>&#8226; Read each question carefully before selecting an answer.</li>
        <br>
        <li>&#8226; You have a limited time to complete the quiz. The timer will be displayed during the quiz.</li>
        <br>
        <li>&#8226; Select the most appropriate answer for each question.</li>
        <br>
        <li>&#8226; You can only submit your answers once, so review your choices before submitting.</li>
        <br>
        <li>&#8226; Each correct answer contributes to your total score. There may be negative marking for incorrect answers. </li>
            <br>
        <li>&#8226; Click the "Submit Quiz" button when you have answered all the questions.</li>
        <br>
    </ul>
</body>

</html>