

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mainpage.css">
    <link rel="stylesheet" href="/layoutAdmin.css">
    <link rel="stylesheet" href="/navbar.css">
    <title>Study Materials</title>
    <link rel="stylesheet" href="/StudyMaterial.css">
</head>
<body>
    <div class="container">
        <h1 >Vedio Lecture</h1>

        <div class="subject-materials">
            <h2>Mathematics</h2>
            <p>Probability lecture: <a href="https://www.youtube.com/watch?v=qA3LShlifY0" target="_blank">Probability physicswallah</a></p>
            <p>Permutation & Combination lecture: <a href="https://www.youtube.com/watch?v=U5MFT0VA-NE" target="_blank">Permutation & Combination physicswallah</a></p>
            <p>Matrix & Determinant lecture: <a href="https://www.youtube.com/watch?v=QwL44atyFKI" target="_blank">Matrix & Determinant physicswallah</a></p>
            <p>Circle lecture: <a href="https://www.youtube.com/watch?v=oQXoMiKr22k" target="_blank">Circle physicswallah</a></p>
            <p>Parabola lecture: <a href="https://www.youtube.com/watch?v=qA3LShlifY0" target="_blank">Parabola physicswallah</a></p>
            <p>Book PDF: <a href="https://www.testprepkart.com/jee/blog-single.php?id=2287/about-best-books-for-jee-mathematics-free-pdf-" target="_blank">Math Book PDF</a></p>
        </div>

        <div class="subject-materials">
            <h2>Physics</h2>
            <p>Thermodynamic Lecture: <a href="https://www.youtube.com/physics-lecture" target="_blank">Physics Lecture</a></p>
            <p>Kinetics Lecture: <a href="https://www.youtube.com/physics-lecture" target="_blank">Physics Lecture</a></p>
            <p>  Center of Mass Lecture: <a href="https://www.youtube.com/physics-lecture" target="_blank">Physics Lecture</a></p>
            <p>Gravity Lecture: <a href="https://www.youtube.com/physics-lecture" target="_blank">Physics Lecture</a></p>
            <p>Newton Law of Motion Video Lecture: <a href="https://www.youtube.com/physics-lecture" target="_blank">Physics Lecture</a></p>
            <p>Book PDF: <a href="/pdfs/physics-book.pdf" target="_blank">Physics Book PDF</a></p>
        </div>

        <div class="subject-materials">
            <h2>Chemistry</h2>
            <p>Chemical Kinetics Lecture: <a href="https://www.youtube.com/chemistry-lecture" target="_blank">Chemistry Lecture</a></p>
            <p>Equillibrium Lecture: <a href="https://www.youtube.com/chemistry-lecture" target="_blank">Chemistry Lecture</a></p>
            <p>Thermodynamic Lecture: <a href="https://www.youtube.com/chemistry-lecture" target="_blank">Chemistry Lecture</a></p>
            <p>Environmental Chemistry  Lecture: <a href="https://www.youtube.com/chemistry-lecture" target="_blank">Chemistry Lecture</a></p>
            <p>Solid State Lecture: <a href="https://www.youtube.com/chemistry-lecture" target="_blank">Chemistry Lecture</a></p>
            <p>Book PDF: <a href="/pdfs/chemistry-book.pdf" target="_blank">Chemistry Book PDF</a></p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
